@page "/projectlist"
@using Starter.Blazor.Modules.Dashboard.Services
@using Starter.Blazor.Modules.Projects.Models
@inject ProjectService ProjectService

<div x-data="projectList">
    <script src="assets/js/simple-datatables.js"></script>

    <div class="panel border-[#e0e6ed] px-0 dark:border-[#1b2e4b]">
        <div class="px-5">
            <div class="md:absolute md:top-5 ltr:md:left-5 rtl:md:right-5">
                <div class="mb-5 flex items-center gap-2">
                    <button type="button" class="btn btn-danger gap-2" @click="deleteRow()">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5">
                            <path d="M20.5 6H3.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                            <path d="M18.8334 8.5L18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"></path>
                            <path opacity="0.5" d="M9.5 11L10 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                            <path opacity="0.5" d="M14.5 11L14 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                            <path opacity="0.5"
                                  d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6"
                                  stroke="currentColor"
                                  stroke-width="1.5"></path>
                        </svg>
                        Delete
                    </button>
                    <a href="/projectcreate" class="btn btn-primary gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24px"
                             height="24px"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="1.5"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="h-5 w-5">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        Add New
                    </a>
                </div>
            </div>
        </div>
        <div>
            <h3>Project List</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Estimated Hours</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in projects)
                    {
                        <tr>
                            <td>@project.ProjectName</td>
                            <td>@project.Description</td>
                            <td>@project.StartDate.ToShortDateString()</td>
                            <td>@project.EndDate.ToShortDateString()</td>
                            <td>@project.EstimatedHours.ToString()</td>
                           
                            <td>
                                <button class="btn btn-danger" @onclick="() => DeleteProject(project.Id)">Delete</button>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private List<ProjectDto> projects = new List<ProjectDto>();

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.GetProjects();
    }

    private async Task DeleteProject(Guid projectId)
    {
        await ProjectService.DeleteProject(projectId);
        projects = await ProjectService.GetProjects(); 
    }
}
